---
layout: index.pug
language: ar
permalink: /ar/
---

.header.full-width
  .contents
    h1 مرحبًا بكم في
    br
    h1 عدَّة الإسعاف الأوّلي الرقمي
    br
    h1#sub عدَّة صمّمناها لتوصيلكم بمراكز الاستجابة لحوادث الحواسيب الأقدر على مساعدتكم

.intro
  .contents
    p عدَّة الإسعاف الأوَّلي الرقمي مورد حرٌّ لمساعدة أفراد الإغاثة و&nbsp;مدرّبي الأمان الرّقمي و&nbsp;النشطاء على حماية أنفسهم و&nbsp;المجتمعات التي يدعمونها من الطوارئ الرقميّة الشائعة. كما يمكن للنشطاء و&nbsp;المدافعين عن حقوق الإنسان و&nbsp;المدونين و&nbsp;الصحافيين و&nbsp;الإعلاميين استعمالها لتعلُّم كيفية حماية أنفسهم و&nbsp;معاونة الآخرين. إذا كنت تواجه ظرفًا طارئًا رقميًا أنت أو&nbsp;من يعتمد عليك فإنَّ عدَّة الإسعاف الأوّلي الرقمي ستدلّك على كيفية تشخيص الأمر الذي تواجهه و&nbsp;تعرّفك بمن يمكنهم مساعدتك إنْ أردت.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 ما المشكلة التي تواجهك؟

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p فقدت جهازي
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p لا أستطيع الولوج إلى حسابي
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p جهازي يتصرّف على نحو مريب
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p وصلتني رسالة مريبة
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p موقعي عطلان! ماذا أفعل الآن؟
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p أحدهم ينتحل هويّتي على الإنترنت
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p إنّهم يتحرَّشون بي عبر الإنترنت
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p ضاعت بياناتي
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p أحد معارفي اعتُقِل
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/defamation')
            img(src=site.baseurl + '/images/topics/defamation.svg', width=180)
            p إنّهم يتحرَّشون بي عبر الإنترنت
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/surveilled')
            img(src=site.baseurl + '/images/topics/surveilled.svg', width=180)
            p أعتقد أنّني مُراقَب
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/doxing')
            img(src=site.baseurl + '/images/topics/doxing.svg', width=180)
            p أحدهم نشر بياناتي الشخصية دون إذني

    p.after
      | بتحديد المشكلة التي تواجههك ستصحبك عدَّة الإسعاف الأوّلي الرقمي في مسار من الأسئلة لتشخيص المشكلة و&nbsp;إيجاد موارد تعينك.
      | أمّا المشكلات التي لا يمكنك حلّها بنفسك فإن  العدَّة تزكّي عددًا من
      a(href="support/") المنظَّمات الداعمة
      | التي يمكنك التواصل معها.

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ما الذي تلزمك معرفته بعد؟
          p
            | عدَّة الإسعاف الأوّلي الرقمي لا يُقصد بها أنْ تكون حلّا شاملا لكلِّ الطوارئ الرقميّة. فإذا شعرت بعدم اطمئنان لكيفية معالجة المسألة التي تواجهك يمكنك التواصل مع إحدى
            a(href="support/") المنظَّمات الداعمة
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 أصابك الإنهاك؟
          p
            | التحرّش عبر الإنترنت و&nbsp;التهديد و&nbsp;غيرهما من هجمات عبر وسائل الاتّصال يمكنها أنْ تثقل كاهلنا و&nbsp;تضرّنا نفسيًّا.
            | طالعوا
            a(href="self-care/") دليل العناية بالنفس
            | الذي يحوي موارد و&nbsp;منظّمات داعمة.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 من صنع عُدِّة الإسعاف الأوَّلي الرقمي؟
          p
            | هذا المورد نتيجة تعاون
            a(href="https://www.rarenet.org/") Rapid Response Network
            | و&nbsp;
            a(href="https://www.civicert.org/") CiviCERT
            | . طالعوا
            a(href="about/") الصفحة عن المشروع
            | لمزيد من التفاصيل.
            | عدَّة الإسعاف الأوَّلي الرقمي مفتوحة المصدر و&nbsp;نحن نقبل
            a(href="https://gitlab.com/rarenet/dfak") مساهماتكم في تحسينها
            | .
