---
layout: index.pug
language: ky
permalink: /ky/
---

.header.full-width
  .contents
    h1 Кош келиңиз
    br
    h1 Санариптик Биринчи Жардам Топтому!
    br
    h1#sub Бул топтом сизди туура CiviCERT командасына багыттоо үчүн иштелип чыккан.

.intro
  .contents
    p Санариптик биринчи жардам топтому биринчи жардам көрсөтүүчүлөргө, санариптик коопсуздук боюнча окутуучуларга жана технологияны жакшы билген активисттерге, санариптик өзгөчө кырдаалдардын эң кеңири таралган түрлөрүнөн өздөрүн жана коомун жакшыраак коргоого жардам берген акысыз булак болуп саналат.Бул топтомду активисттер, укук коргоочулар, блоггерлер, журналисттер жана өздөрүн кантип коргоо жана башкаларды колдоо жөнүндө көбүрөөк билгиси келген медиа өкүлдөрү да колдоно алышат. Эгер сиз же сиз жардам берип жаткан адамдар санариптик өзгөчө кырдаалга туш болуп жатса, “Санариптик биринчи жардам топтому “көйгөйлөрдү аныктоого жардам берет жана зарыл болсо, андан ары жардам алуу үчүн колдоо көрсөтүүчүлөргө кайрылат.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 Сиз кандай көйгөйгө туш болуп жатасыз?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Мен гаджетимди жоготуп алдым
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Мен аккаунтума кире албай калдым
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Менин гаджетим шектүү иштеп жатат
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Мен шектүү билдирүүлөрдү алдым
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Менин сайтым иштебей жатат
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p  Кимдир бирөө интернетте менин атымды колдонуп жатат
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Интернет айдыңында онлайн куугунтукталып жатам
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Мен маалыматтарымды жоготуп алдым
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Мен тааныган адам абакка алынды
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/defamation')
            img(src=site.baseurl + '/images/topics/defamation.svg', width=180)
            p Мен каралоо өнөктөштүгүнүн объектисине айландым
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/surveilled')
            img(src=site.baseurl + '/images/topics/surveilled.svg', width=180)
            p Менин оюмча мени күзөтүп жатышат
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/doxing')
            img(src=site.baseurl + '/images/topics/doxing.svg', width=180)
            p Мен доксингге кабылдым же кимдир бирөө менин жеке маалыматтарымды же медиа файлдарым менен менин макулдугумсуз бөлүшүп жатат

    p.after
      | Сиз туш болуп жаткан көйгөйдү тандаңыз жана Санариптик биринчи жардам топтому
      | көйгөйдү жакшыраак аныктоо жана аны чечүү үчүн
      | ресурстарды табууда бир катар суроолорго жооп берүүгө жардам берет.
      | Сиз өз алдынча чече албаган маселелер боюнча Санариптик биринчи жардам
      a(href="support/") топтомунда сиз кеңеш ала турган уюмдардын тизмеси бар.
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ДАГЫ ЭМНЕЛЕРДИ БИЛҮҮ КЕРЕК?
          p
            | Санариптик биринчи жардам топтому бардык санариптик көйгөйлөрдү чечүү үчүн
            | иштелип чыккан эмес. Эгер көйгөйлөрүңүздү кантип чечүүнү билбей жатсаңыз,
            | бул тизмеге көз чаптырыңыз
            a(href="support/") бул сиз кеңеш ала алчу уюмдар тууралуу маалымат.
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 ӨЗҮҢҮЗДҮ КӨҢҮЛСҮЗ, ЧАРЧАҢКЫ СЕЗИП ЖАТАСЫЗБЫ?
          p
            | Интернеттеги онлайн куугунтук, коркутуулар жана санариптик чабуулдардын
            | башка түрлөрү сиздин сезимдериңизге жана сактыгыңызга чоң зыян келтириши
            | мүмкүн. Буга колдоо алып, жеңилдетүү үчүн башка ресурстар жана уюмдар үчүн
            | өзүңүзгө өзүңүз кам көрүү боюнча биздин
            a(href="self-care/") кеңештерибизди окуңуз.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 САНАРИПТИК БИРИНЧИ ЖАРДАМ ТОПТОМУНУН НЕГИЗДӨӨЧҮЛӨРҮ КИМ?
          p
            | Бул ресурс
            a(href="https://rarenet.org") Ыкчам жооп берүү тармагы (Rapid Response Network)
            | жана
            a(href="https://civicert.org") CiviCERT тарабынан биргеликте иштелип чыккан.
            | . Көбүрөөк маалымат алуу үчүн
            a(href="about/") Жалпы маалымат барагын карап чыгыңыз.
            | Санариптик Биринчи Жардам Топтому  - бул ачык булак долбоору жана биз  каалаган үчүнчү тараптын
            a(href="https://gitlab.com/rarenet/dfak") салымдарын кабыл алабыз.
            | .
