---
layout: index.pug
language: my
permalink: /my/
---

.header.full-width
  .contents
    h1 ဒစ်ဂျစ်တယ်ရှေးဦးသူနာပြုလမ်းညွှန်မှ
    br
    h1 ကြိုဆိုပါသည်!
    br
    h1#sub သင့်အားကူညီပေးနိုင်မည့် သင့်တော်သောCiviCERTအဖွဲ့စီသို့ညွှန်ပေးရန်ရေးဆွဲထားပါသည်

.intro
  .contents
    p ဒစ်ဂျစ်တယ်ရှေးဦးသူနာပြုလမ်းညွှန်သည် မြန်ဆန်တုံ့ပြန်သူများ၊ ဒစ်ဂျစ်တယ်လုံခြုံရေးသင်တန်းပေးသူများ၊ နည်းပညာကျွမ်းကျင် တက်ကြွလှုပ်ရှားသူများအတွက် မိမိနှင့် မိမိမှအထောက်အကူပြုနေသော လူ့ဘောင်အဖွဲ့အစည်းများကို ဒစ်ဂျစ်တယ်အရေးပေါ်အန္တရာယ်များမှ ပိုမိုကောင်းမွန်စွာကာကွယ်ပေးနိုင်ရန်အတွက်ထုတ်ဝေထားသော အခမဲ့အရင်းအမြစ်တစ်ခုဖြစ်ပါသည်။ မိမိနှင့် မိမိမှအထောက်အကူပြုနေသူတွေကိုကာကွယ်လိုသော အခြားတက်ကြွလှုပ်ရှားသူများ၊ လူ့အခွင့်အရေးကာကွယ်သူများ၊ ဘလောဂ့်ဂါများ၊ စာနယ်ဇင်းသမားများ၊ မီဒီယာတက်ကြွလှုပ်ရှားသူများလဲ ဤလမ်းညွှန်ကိုအသုံးပြုနိုင်ပါသည်။ ဒစ်ဂျစ်တယ်အရေးပေါ်တစ်ခုကို သင်ဖြစ်စေ သင်မှအထောက်အကူပြုနေသူတစ်ဦးဖြစ်စေ ကြုံတွေ့နေရပါက ဤလမ်းညွှန်သည် လက်ရှိအခြေအနေကိုသုံးသပ်နိုင်ရန် နှင့် သက်ဆိုင်ရာအထောက်ကူပြုအဖွဲ့အစည်းများဖြင့်ချိတ်ဆက်နိုင်ရန် ကူညီပေးသွားမှာဖြစ်ပါသည်။
.how
  .contents.fixed-width-smaller-container
    .separator
      h1 မည်သည့်အခက်အခဲကိုကြုံတွေ့နေရပါသနည်း?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p ကျွန်ုပ်၏‌အချက်အလက်များ ဆုံးရှုံးသွားသည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p ကျွန်ုပ်၏အကောင့်အား ဝင်ရောက်နိုင်ခွင့်ကို ဆုံးရှုံးသွားသည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p ကျွန်ုပ်၏စက်ကိရိယာပေါ်တွင် မသင်္ကာဖွေရာ လှုပ်ရှားမှုများ ဖြစ်နေပါသည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p သံသယဖြစ်စရာ မက်ဆေ့ချ်ကိုရရှိခဲ့သည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p ကျွန်ုပ်၏ website ကျသွားပြီးပေါ်မလာတော့ပါ
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p တစ်စုံတစ်ယောက်က ကျွန်ုပ်အနေဖြင့် အွန်လိုင်းမှာဟန်ဆောင်နေသည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p အွန်လိုင်းနှောင့်ယှက်မှု ပစ်မှတ်ထားခံနေရပါသည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p ကျွန်ုပ်၏‌အချက်အလက်များ ဆုံးရှုံးသွားသည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p ကျွန်ုပ်၏အသိမိတ်ဆွေတစ်ယောက် အဖမ်းခံလိုက်ရသည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/defamation')
            img(src=site.baseurl + '/images/topics/defamation.svg', width=180)
            p ကျွန်ုပ်သည် အသရေဖျက်ကမ်ပိန်းတစ်ခု၏ ပစ်မှတ်ထားတိုက်ခိုက်မှု ခံနေရသည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/surveilled')
            img(src=site.baseurl + '/images/topics/surveilled.svg', width=180)
            p ကျွန်ုပ်ကို စောင့်ကြည့်ထောက်လှမ်းနေသည်ဟု ထင်သည်
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/doxing')
            img(src=site.baseurl + '/images/topics/doxing.svg', width=180)
            p  ွန်ုပ်သည် doxxed အလုပ်ခံနေ၍သည်၊ တစ်စုံတစ်ယောက်က ကျွန်ုပ်၏ ကိုယ်ရေးကိုယ်တာ အချက်အလက်များနှင့် မီဒီယာများကို ခွင့်ပြုချက်မရှိဘဲ ဖြန့်ချီနေသည်

    p.after
      | သင်တွေ့ကြုံနေရသောအခက်အခဲအား ဖော်ပြပါထဲကရွေးချယ်ပေးပါ။ သင့်ပြဿနာကိုပိုမိုနားလည်ရန်နှင့်
      | သင့်ကိုကူညီပေးနိုင်သည့်အရင်းအမြစ်များရှာပေးနိုင်ရန် ဒစ်ဂျစ်တယ်ရှေးဦးသူနာပြုလမ်းညွှန်သည် သင့်အား
      | မေးခွန်းအနည်းငယ်မေးပါမည်။ လက်ရှိအခက်အခဲကို သင်ကိုယ်တိုင်မရှင်းလင်းနိုင်ပါက​​ ဤလမ်းညွှန်တွင်
      a(href="support/") သင်ဆက်သွယ်တိုင်ပင်နိုင်သည့်အဖွဲ့အစည်းများ
      | ကိုဖော်ပြထားပါသည်။

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 အခြားသိချင်သည်များရှိပါသေးသလား?
          p
            | ဤဒစ်ဂျစ်တယ်ရှေးဦးသူနာပြုလမ်းညွှန်သည် ဒစ်ဂျစ်တယ်အရေးပေါ်များအားလုံးအတွက် အန္တိမဖြေရှင်းချက်မဟုတ်ပါ။
            | သင့်အခက်အခဲတွေကို မည်သို့ဖြေရှင်းရန် မသေချာပါက
            a(href="support/") ဖော်ပြပါဆက်သွယ်တိုင်ပင်နိုင်သည့်အဖွဲ့အစည်းများ
            | အားတိုင်ပင်ရန်အကြံပြုပါသည်။
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 စိတ်ဖိစီးမှုများနေပါသလား?
          p
            | အွန်လိုင်းနှောက်ယှက်မှု ၊ ခြိမ်းခြောက်မှု နှင့် အခြားအတိုက်အခိုက်များသည်
            | မိမိကိုယ်နှင့်စိတ်အပေါ်လွန်စွာထိခိုက်စေနိုင်ပါသည်။ သို့ဖြစ်၍ သင့်အတွက်အထောက်အကူဖြစ်နိုင်မည့်
            a(href="self-care/") ကိုယ်စိတ်ကျန်းမာရေးလမ်းညွှန်
            | ကိုဖတ်ရှုစေချင်ပါသည်။
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ဒစ်ဂျစ်တယ်ရှေးဦးသူနာပြုလမ်းညွှန်ကို မည်သူတွေဖန်တီးခဲ့သနည်း?
          p
            | ဤလမ်းညွှန်အား
            a(href="https://rarenet.org") Rapid Response Network
            | နှင့်
            a(href="https://civicert.org") CiviCERT
            | တို့ပူးပေါင်းဖန်တီးခဲ့ပါသည်။ အခြားအချက်အလက်များကိုသိရှိလိုပါက ကျွန်ုပ်တို့၏
            a(href="about/") About page
            | ကိုဖတ်ရှုနိုင်ပါသည်။ ဒစ်ဂျစ်တယ်ရှေးဦးသူနာပြုလမ်းညွှန်သည် open-source စီမံကိန်းဖြစ်သောကြောင့်
            a(href="https://gitlab.com/rarenet/dfak") ပြင်ပမှ ဖြေ့စွက်ချက်များ
            | ကိုလဲ ကြိုဆိုပါသည်။
