---
layout: index.pug
language: id
permalink: /id/
---

.header.full-width
  .contents
    h1 Selamat datang di
    br
    h1 Pertolongan Pertama Darurat Digital!
    br
    h1#sub Alat yang didesain untuk memandu Anda ke tim CiviCERT yang tepat

.intro6
  .contents
    p Pertolongan Pertama Darurat Digital adalah sumber informasi gratis untuk membantu tim respons cepat, pelatih keamanan digital, dan aktivis yang paham teknologi untuk melindungi diri sendiri dan komunitas yang mereka bantu terhadap jenis paling umum darurat digital dengan lebih baik. Alat ini dapat juga digunakan oleh para aktivis, pembela HAM, penulis blog, jurnalis atau aktivis media yang ingin belajar lebih banyak mengenai bagaimana mereka dapat melindungi diri sendiri dan membantu orang lain. Jika Anda atau orang yang Anda bantu sedang mengalami situasi darurat digital, Pertolongan Pertama Darurat Digital akan memandu Anda dalam, mendiagnosis isu yang Anda hadapi, dan merujuk Anda ke penyedia bantuan untuk bantuan lebih lanjut jika diperlukan.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 Masalah apa yang Anda hadapi?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Saya kehilangan peranti saya
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Saya tidak bisa mengakses akun saya
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Peranti saya tampak mencurigakan
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Saya menerima pesan mencurigakan
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Situs web saya tidak berfungsi
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Seseorang Meniru Identitas Daring Saya
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Saya diganggu secara daring
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Saya kehilangan data saya
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Seseorang yang saya kenal ditangkap
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/defamation')
            img(src=site.baseurl + '/images/topics/defamation.svg', width=180)
            p Saya menjadi target kampanye pencemaran nama baik
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/surveilled')
            img(src=site.baseurl + '/images/topics/surveilled.svg', width=180)
            p Saya mungkin sedang diawasi
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/doxing')
            img(src=site.baseurl + '/images/topics/doxing.svg', width=180)
            p Saya telah di-*doxx* atau seseorang membagikan info atau media pribadi saya tanpa persetujuan

  p.after
      | Pilih masalah yang Anda hadapi dan Pertolongan Pertama pada Darurat Digital (P2D2)
      | akan memandu Anda melalui serangkaian pertanyaan untuk mendiagnosis
      | masalah tersebut dengan lebih baik serta menemukan sumber informasi untuk menolong Anda. Untuk masalah-masalah yang tidak bisa
      | Anda atasi sendiri, P2D2 memiliki (href="support/") daftar organisasi pendukung yang dapat Anda temui untuk berkonsultasi
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 HAL APA LAGI YANG ANDA PERLU TAHU?
          p
            | Pertolongan Pertama Darurat Digital tidak dimaksudkan untuk menjadi solusi pamungkas bagi segala
            | situasi digital yang Anda hadapi. Jika Anda merasa tidak yakin bagaimana mengatasi
            | masalah yang Anda hadapi, silakan hubungi
            a(href="support/") daftar organisasi pendukung yang dapat Anda temui untuk berkonsultasi
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 MERASA KEWALAHAN?
          p
            | Gangguan daring, ancaman, dan jenis serangan digital lainnya dapat
            | menimbulkan beban berat bagi perasaan dan kesejahteraan Anda. Baca
            a(href="self-care/") tip Perawatan Diri
            | untuk mengetahui lebih banyak informasi dan organisasi terkait bantuan dan
            | mitigasi.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 SIAPA YANG ADA DI BALIK PERTOLONGAN PERTAMA DARURAT DIGITAL?
          p
            | Sumber informasi ini adalah usaha kolaboratif dari
            a(href="https://rarenet.org") Rapid Response Network
            | dan
            a(href="https://civicert.org") CiviCERT
            | . Lihat
            a(href="about/") laman Tentang Kami
            | untuk informasi lebih lanjut. Pertolongan Pertama Darurat Digital adalah proyek sumber-terbuka dan kami menerima
            a(href="https://gitlab.com/rarenet/dfak") kontribusi dari luar
            | .
